<html>
	<head>
	    <link href="css/git.css" type="text/css" rel="stylesheet">
	    <script type="text/template" id="hello_template">
		    <p><%- title %></p>
		  </script>
	    <script src="js/lib/underscore.js"></script>
        <script src="js/lib/jquery.js"></script>
        <script src="js/lib/backbone.js"></script>
	    <script src="js/models/User.js"></script>
	    <script src="js/collections/Users.js"></script>
	    <script src="js/views/todos.js"></script>
	    <script src="js/views/app.js"></script>
	    <!-- <script src="js/routers/router.js"></script> -->
	    <script src="js/app.js"></script>
        <title>Git Music</title>
    
	</head>

	<body>
		<div id='holder'>
			<div id='photoHolder'>
				<img src="assets/logo.png" alt="git music" />
			</div>

			<p>Git Music<br/>Online Collaboration</p>

			<p><%- duba %></p>
		</div>


	</body>

</html>
